$primary-color: #d4de9c;
$primary-color-light: #e9f5db;
$background-color: #323734;
$background-color-dark: #191a19;
$error-color: #d33d3d;
$disabled-color: #a0a0a0;

$spacing: 1rem;
$layout-spacing: 3rem;
$border: 2px solid $primary-color;
$border-radius: 0.25rem;
